<!--Footer / Bottom Nav Bar-->
     <!--Home Page-->
   <%if (title == "HomePage") {%>
        <nav class="navbar navbar-dark bg-dark fixed-bottom"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy; Flipping Pancakes 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/"> <i class="fa-solid fa-arrow-up"></i> Back To Top</a>
        </ul>
        </nav>
   <% } %>
      
     <%if (title == "Add Apparel") {%>
        <nav class="navbar navbar-dark bg-dark fixed-bottom"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy; Flipping Pancakes 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/apparelList"> <i class="fa-solid fa-rotate-left"></i> Back To Apperals</a>
        </ul>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i></i> Back To Home</a>
        </ul>
        </nav>
   <% } %>
    <%if (title == "Edit Apparel") {%>
        <nav class="navbar navbar-dark bg-dark fixed-bottom"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy; Flipping Pancakes 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/apparelList"> <i class="fa-solid fa-rotate-left"></i> Back To Apperals</a>
        </ul>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i>Back To Home</a>
        </ul>
        </nav>
   <% } %>
   
    <%if (title == "Contact Me") {%>
        <nav class="navbar navbar-dark bg-dark fixed-bottom"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy; Flipping Pancakes 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i></i> Back To Home</a>
        </ul>
        </nav>
   <% } %>
   <%if (title == "Login") {%>
        <nav class="navbar navbar-dark bg-dark fixed-bottom"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy; Flipping Pancakes 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i></i> Back To Home</a>
        </ul>
        </nav>
    <% } %>
    <%if (title == "Apparels") {%>
        <nav class="navbar navbar-dark bg-dark fixed-bottom"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy; Flipping Pancakes 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i></i> Back To Home</a>
        </ul>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/apparelList"> <i class="fa-solid fa-arrow-up"></i> Back To Top</a>
        </ul>
        </nav>
    <% } %>
  
        
    



