<!DOCTYPE HTML> 
<html> 

<head> 
 <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="app.css" rel="stylesheet" type="text/css"> 
</head> 
<body>
<div class="Banner">

</div>
<div id="formwrapper"> 
    <!--placeholder="Your First Name Here" size="48" size="32" required-->

    <h1>Questions or Concerns ?
    </h1> <!--creating form action for email-->
    <form class = "form" action="mailto:elvis.esene@ontariotechu.net" ?subject=Signup Form method="post" 
    enctype="text/plain" name="form"> 
    <p> 
    <!--Putting a lable on the form parameters (email and name sections)-->
        <label for="name">Name</label> 
        <input type="text" name="FirstName" placeholder="Your First Name Here" size="20" required> <!--Required is validation so the user has to put in data before submitting-->
    <!--putting a placeholder text (shows bf user types, usefull for hints)-->
        <input type="text" name="LastName" placeholder="Your Last Name Here" size="20" required>
    </p> 
    <p> 
        <label for="email">Email</label> 
        <input name="email" type="email" placeholder="Your Email Here"size="20" required> 
    </p> 
    <p> <!--creating a text input field, maxlength resticts the character length-->
        <label for="comments">Comments?</label><br> 
        <textarea name="comments" cols="30" rows="4" maxlength="90" size="30" ></textarea> 
    <!--putting a drop down select menu-->
    <p> 
        <label for "where">How did you find Us?</label> 
        <select name="where"> 
        <option value="Search engine">Personal Link</option> 
        <option value="Word of mouth">Word of mouth</option> 
        <option value="Craigslist">Search Engine</option> 
        <option value="Other">Other</option> 
        </select> 
    </p> 
 
    <!--putting a sumit form button-->
    <p><input type="submit" size="20" value="Click here to submit the form"/></p> 
    <!--putting a rest form button-->
    <p><input type="reset"  size="20" value="Click here to reset the form"/></p>
    </form> 
</div> 
</body>
</html>
